.bodycorpadrao{
    margin: 0px;
    background-color: #BAC5DF;
    font-family: ''Arial',Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
  height: 370px;
  margin: 20px 10px;
  width: 400px;
  padding: 15px;
  background-color: rgba(60, 68, 112, 0.1) !important;
  }
.container{
    height: 100%;
    align-content: center;
    }

.imglogo{
    margin-top: 50px;
    width: 310px;
    height: 140px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.h1titulo{
    margin-top: 50px;
    color : #47525E;
}

.text-info-cor{
    color : #47525E;
}

.btn-info-cor{
    color : #ffffff;
    background-color:#47525E;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  

  /* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
